[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]
alertlogic-sdk-python = "==1.0.31"

[dev-packages]

pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
